/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* .body{
	--main-bg-color: #120808;
	--second-bg-color: #b38585;
	--in-second-color: #241111;
	--main-text-color: #C8C8C8;
} */

body{
    margin:0 auto;
    display: flex;
	flex-direction: column;
    width: 100%;
 	background-color: #d4eef5;
   
}

header{
	height: 55px;
	width: 100%;
	background-color: #412525;
    background-color:#405591 ;


	align-items: center;
	display: flex;
	justify-content:space-between;
	padding: 0 20px;
	box-shadow: 0px 1px 15px  rgba(0, 0, 0, 0.6);
	z-index: 1000;
}

.logo{
	height: 80px;
}
.burger{
	height: 23px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:end;

}


.line1{
	width: 25px;
	height: 3px;
	background-color: #F8F8F8;
	
}
.line2{
	width: 18px;
	height: 3px;
	background-color: #F8F8F8;
	
}
.line3{
	width: 25px;
	height: 3px;
	background-color: #F8F8F8;
	
}
/* ?////////////////////////////////// */
.back{
	height: 33px;
	width: 33px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
.line__back1{
	width: 33px;
	height: 3px;
	background-color: #f8f8f8;
	position:relative;
	top: 1.5px;
	left: 5px;

	/* transform: translateY(2px); */
	transform: rotate(-45deg);
}	
.line__back2{
	width: 33px;
	height: 3px;
	background-color: #f8f8f8;
	position: relative;
	bottom: 1.5px;
	left: 5px;
	/* transform: translateY(-2px); */
	transform: rotate(45deg);


}


.dropdown__wrapper{
	display: flex;

	transition-duration: 0.8s;

	margin: 55px 0 0 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	background-color: #120808;
	background-color: #57699b ;

	position:absolute;
	right: 100vw;
	z-index: 100;

	



}
.dropdown_open{
	transition: 1s;
	right: 0;
}

.dropdown{
	text-align:left;
	padding:20px 0 ;
	width: 100%;

}

.dropdown__a li{		
	color: #C8C8C8;
	padding: 15px 0 15px 60px;
	font-size: 18px;

	font-family: 'Ubuntu', sans-serif;




}
.dropdown__a li:hover{
	background-color: #3b4e81;
}
.dropdown__a li:active{
	background-color: #3b4e81;
}
.back_on{display: none;}
.burger_on{display: none;}

.signout{
	padding: 10px 20px;
    font-size: 14px;
    
    margin: 20px 0 0px 60px	 ;
    background-color:#ff8c00ec ;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2) ;
	font-family: 'Ubuntu', sans-serif;



}


.main{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.header__text{
	color:#555555;
	font-family: 'Ubuntu', sans-serif;
	margin: 30px 0 0 0 ;
	font-size: 20px;
	text-align: center;
	text-shadow:4px 4px 5px rgba(168, 168, 168, 0.2);




}

.container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 20px 25px ;
	
}

.options{
	height: 80px;
	width: 100%;
    background-color:#405591 ;
	margin: 10px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	border-radius: 6px;
	padding: 10px 10px;


	



}

.editCards{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.edit__cards_container{
	margin: 0 5px 0 0 ;
}
.edit__cards_container2{
	margin: 0 0 0 5px;

}
.incontainer{
	/* padding:20px 20px; */
	height: 100%;
	width: 100%;
	border-radius: 10px;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* background-color: #696969; */
	background-color: #5389b6 ;
	

	color: #C8C8C8;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;

	

}
.lineoptions{
	height: 100%;
	width: 2px;
	background-color: #696969;
	display: flex;
	justify-content: center;
	align-items: center;
}

.incontainer:active{
	background-color: #405591 ;
}

.edit__filter_container p{
	text-align: center;
}

.edit__banner_container{
	text-align: center;
}